@model Common.Korisnik

@{
    ViewData["Title"] = "Update User";
}
<form action="/Proizvod/ShowProducts">
    <button type="submit">Vrati se na proizvode</button>
</form>

<h1>Izmijeni profil</h1>

@using (Html.BeginForm("UpdateUser", "User", FormMethod.Post))
{

    <div class="form-group">
        <label asp-for="Ime">Ime</label>

        <input asp-for="Ime" name="Ime" class="form-control" value="@Model.Ime" />
        <span asp-validation-for="Ime" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Prezime">Prezime</label>
        <input asp-for="Prezime" name="Prezime" class="form-control" value="@Model.Prezime" />
        <span asp-validation-for="Prezime" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" name="Email" class="form-control" readonly value="@Model.Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label asp-for="Lozinka">Lozinka</label>
        <input asp-for="Lozinka" name="Lozinka" type="password" class="form-control" value="@Model.Lozinka" />
        <span asp-validation-for="Lozinka" class="text-danger"></span>
    </div>
    <br />

                <button type="submit" class="btn btn-primary">Save Changes</button>

  
}

@section Scripts {
    <script>
    </script>
}
