<style>
    .my-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        text-align: center;
        text-decoration: none;
        cursor: pointer;
        border: 1px solid #3498db;
        border-radius: 5px;
        color: #ffffff;
        background-color: #3498db;
    }

        .my-button:hover {
            background-color: #2980b9;
        }
</style>

<h2>Dobrodošli u  Online Trgovinu</h2>
<p>Izaberite jednu od opcija:</p>
<br />
<button onclick="location.href='@Url.Action("Register", "User")'" class="my-button">Registracija</button>
<button onclick="location.href='@Url.Action("Login", "User")'" class="my-button">Prijavljivanje</button>
