@{
    Layout = null; // Postavljamo Layout na null kako bismo izbjegli uključivanje glavnog layouta
}

<!DOCTYPE html>
<html>
<head>
    <title>Uspješna porudžbina</title>
</head>
<body>
    <h1>Uspješna porudžbina</h1>
    <p>@ViewBag.SuccessMessage</p>
</body>
</html>
