@model IEnumerable<Common.Proizvod>

<form action="/Proizvod/ShowProducts">
    <button type="submit">Vrati se na proizvode</button>
</form>

<h2>Korpa</h2>
@if (Model.Count() > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Naziv proizvoda</th>
                <th>Količina</th>
                <th>Cijena</th>
                <th>Opcije</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var proizvod in Model)
            {
                <tr>
                    <td>@proizvod.NazivProizvoda</td>
                    <td>@proizvod.KolicinaProizvoda</td>
                    <td>@proizvod.CijenaProizvoda</td>
                    <td>
                    <form method="post" action="/Order/IzbaciIzKorpe">
                            <input type="hidden" name="productId" value="@proizvod.Id" />
                            <button type="submit" class="btn btn-danger">Obriši</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <form method="post" action="/Order/Naruci">
        <button type="submit">Naruči</button>
    </form>

}
else
{
    <p>Korpa je prazna.</p>
}
